
// ↓キャンペーンスライド


.image-slide {
  height: 400px;
  width: 100%;
  background-color: yellow;
}

// ↓いいねした商品


.like-things {
  height: 240px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: gray;
}

.like-things__frame {
  height: 180px;
  width: 1000px;
  padding: 30px;
  margin: 0 auto;
  background-color: white;
}

.like-things__frame__text {
  height: 40px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.like-things__frame__text-1 {
  color: rgb(45, 128, 196);
  font-weight: bold;
  font-size: 15px;
}

.like-things__frame__info {
  height: 140px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.like-things__frame__info__product {
  width: 140px;
  height: 140px;
  background-color: yellow;
}


// ↓人気のカテゴリー

.category {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.category-border {
  height:100px;
  width:600px;
  margin: 0 auto;
}

.category-border__text {
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.category-border__frame {
  display:flex;
  justify-content: space-between;
}

.category-border__frame__things {
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

// ↓レディース新着アイテム

.ladynew {
  height:600px;
  background-color: gray;
  padding-top: 50px;
}

.ladynew-border {
  height: 600px;
  width: 1060px;
  margin: 0 auto;
  background-color: white;
}

.ladynew-border__text {
  height: 60px;
  line-height: 60px;
  color: black;
  font-size: 23px;
  font-weight: bold;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.ladynew-border__text-1 {
  color: rgb(45, 128, 196);
  font-weight: bold;
  font-size: 15px;
}

.ladynew-border__frame {
  height:250px;
  margin-bottom: 15px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

.ladynew-border__frame__things {
  width: 180px;
  background-color: green;
}

.ladynew-border__frame__things-image {
  height: 200px;
  background-color: blue;
}

.ladynew-end {
  height:600px;
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ladynew-end-border {
  height: 600px;
  width: 1060px;
  margin: 0 auto;
  background-color: white;
}

.ladynew-end-border__text {
  height: 60px;
  line-height: 60px;
  color: black;
  font-size: 23px;
  font-weight: bold;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.ladynew-end-border__text-1 {
  color: rgb(45, 128, 196);
  font-weight: bold;
  font-size: 15px;
}

.ladynew-end-border__frame {
  height:250px;
  margin-bottom: 15px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

.ladynew-end-border__frame__things {
  width: 180px;
  background-color: green;
}

.ladynew-end-border__frame__things-image {
  height: 200px;
  background-color: blue;
}

.sell-btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  color: white;
  background-color: red;
  top: calc(100% - 180px);
  left: calc(100% - 180px);
  position: absolute;
  position: fixed;
}

.sell-btn__text {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.sell-btn__icon {
  background-color: white;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.wrapper {
  position: relative;
  overflow: scroll;
}